@model BitMaskTesting.ViewModels.TestingViewModel
@{
    ViewBag.Title = "DB Test";
}

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <label class="col-form-label">Form Type</label>
                <select id="FormType" class="form-control" asp-items="Model.FormTypes"></select>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <label class="col-form-label">Document Type</label>
                <select id="DocumentType" class="form-control"></select>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            SetupSelect2();
        });

        function SetupSelect2() {
            $('#FormType').select2({
                placeholder: "Select..."
            });

            $('#DocumentType').select2({
                placeholder: "Select...",
                ajax: {
                    url: "@Url.Action("GetDocTypesSelect2DB")",
                    dataType: "json",
                    data: function (params) {
                        var query = {
                            search: params.term,
                            id: $('#FormType').val()
                        }
                        return query;
                    }
                }
            });
        }
    </script>
}